@import "../src/styles/main.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: black;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}